.position {
    margin: 0 0 3vh 0;
    h4 {
        font-weight: normal;
        margin: 0 0 1vh 0;
    }
    ul {
        margin: 0 0 1vh 0;
    }
    li {
        list-style-position: inside;
    }

    li::marker {
        color: rgb(51, 153, 137);
    }
}
