.experience {
    min-height: 85vh;
}
.position {
    font-family: sans-serif;

    margin: 1vh 0 3vh 0;
    h3, h4 {
        color: rgb(var(--text-color));
    }

    ul {
        margin: 0 0 1vh 0;

        li {
            list-style-position: inside;
            list-style-type: disc;
            font-size: var(--font-size);
            line-height: var(--line-height);
            color: rgb(var(--text-color));    
        }
    
        li::marker {
            color: rgb(var(--bullet-color));
        }
    }
    

    h4 {
        font-weight: normal;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .5vh;
        
        h4 {
            font-weight: normal;
        }
    }
}    

/* Mobile */
@media (max-width: 700px) {
    .experience {
        min-height: auto;
        text-align: center;
    }
    .position {
        margin: 1vh 0 3vh 0;
        h3, h4 {
            color: rgb(var(--text-color));
        }
        ul {
            margin: 0 0 1vh 0;
        }
        li {
            list-style-position: inside;
            font-size: var(--font-size);
            line-height: var(--line-height);
            color: rgb(var(--text-color));    
        }
    
        li::marker {
            color: rgb(var(--bullet-color));
        }
    
        h4 {
            font-weight: normal;
        }
    
        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            h4 {
                font-weight: normal;
            }
        }
    }    
}