/* Set default values */
/*
    Darkest: 19, 21, 21
    Dark: 43, 44, 40
    Dark Teal: 51, 153, 137
    Light Teal: 125, 226, 209
    Card Color: 180, 185, 188
    Offwhite: 255, 250, 251
    Link: https://coolors.co/palette/131515-2b2c28-339989-7de2d1-fffafb

    Grayscale: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
*/

:root {
  // --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  //   "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  //   "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-family: sans-serif;
  --border-radius: 12px;
  --font-size: 1rem;
  --line-height: 1.5;
}

h2 {
  font-weight: 600;
  margin-top: 2vh;
  color: rgb(var(--accent));
}

/* Light Mode */
:root,
:root[data-theme=light] {
  --accent: 51, 153, 137;
  --text-color: 19, 21, 21;
  --background: rgb(255, 250, 251);
  --nav-line: var(--text-color);

  --socials-background: rgba(var(--accent), .4);

  --bullet-color: var(--accent);
  --project-outline: var(--text-color);

  --grad-end: rgba(rgb(var(--text-color)) .3);
}

html[data-theme=light] {
  background: rgb(var(--background));
}

@media (prefers-color-scheme: light) {
  :root {
    // --accent: 51, 153, 137;
    // --text-color: 19, 21, 21;
    // --background: rgb(255, 250, 251);
    // --nav-line: 19, 21, 21;

    // --socials-background: rgba(var(--accent), .4);

    // --bullet-color: 51, 153, 137;
    // --project-outline: var(--text-color);

    // --grad-end: rgba(19, 21, 21, .3);
    --accent: 51, 153, 137;
    --text-color: 19, 21, 21;
    --background: rgb(255, 250, 251);
    --nav-line: var(--text-color);
  
    --socials-background: rgba(var(--accent), .4);
  
    --bullet-color: var(--accent);
    --project-outline: var(--text-color);
  
    --grad-end: rgba(rgb(var(--text-color)) .3);
  }

  html {
    background: rgb(var(--background));
  }
}

/* Dark Mode */
:root[data-theme=dark] {
  --accent: 83, 207, 189;
  --text-color: 255, 250, 251;
  // --background: 74, 71, 62;
  // --background: rgb(43, 44, 40);
  --background: rgb(48, 44, 40);
  --nav-line: 255, 250, 251;

  --socials-background: rgb(var(--accent));

  --bullet-color: 125, 226, 209;
  --project-outline: 148, 148, 148;

  /* Gradient colors */
  --grad-end: rgba(255, 250, 251, 1);
}
html[data-theme=dark] {
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: 83, 207, 189;
    --text-color: 255, 250, 251;
    // --background: rgb(74, 71, 62);
    --background: rgb(43, 40, 32);
    --nav-line: 255, 250, 251;

    --socials-background: rgb(var(--accent));

    --bullet-color: 125, 226, 209;
    --project-outline: 148, 148, 148;

    --grad-end: rgba(255, 250, 251, 1);
  }

  html {
    background: var(--background);
  }
}

/* Remove any additional spacing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  scrollbar-color: rgb(var(--accent), .4) rgba(var(--text-color), .1);
}

body::-webkit-slider-thumb {
  border-radius: var(--border-radius);
}
a {
  color: inherit;
  text-decoration: none;
}
