/*
    Darkest: #131515
    Dark: #2B2C28
    Dark Teal: #339989
    Light Teal: #7DE2D1
    Offwhite: #FFFAFB
    Link: https://coolors.co/palette/131515-2b2c28-339989-7de2d1-fffafb
*/

.main {
  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;

  background: linear-gradient(
    180deg,
    rgb(var(--background)) 30%,
    var(--grad-end)
  );


  footer {
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: rgba(var(--text-color), 0.6);
  }
}


.grid {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

/* Mobile */
@media(max-width: 700px) {
  .main {
    position: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
  
    background: linear-gradient(
      180deg,
      rgb(var(--background)) 30%,
      var(--grad-end)
    );
  
    footer {
      font-size: var(--font-size);
      line-height: var(--line-height);
      color: rgba(var(--text-color), 0.6);
    }
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    width: 75vw;
    overflow: scroll;
    scroll-behavior: smooth;
  }
}
@media (max-width: 700px) {
  .main {
    background: linear-gradient(
      180deg,
      rgb(var(--background)) 30%,
      var(--grad-end)
    );
  }
}

/* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .vercelLogo {
//     filter: invert(1);
//   }

//   .logo {
//     filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
//   }
// }

// @keyframes rotate {
//   from {
//     transform: rotate(360deg);
//   }
//   to {
//     transform: rotate(0deg);
//   }
// }

