/*
    Darkest: #131515
    Dark: #2B2C28
    Dark Teal: #339989
    Light Teal: #7DE2D1
    Offwhite: #FFFAFB
    Link: https://coolors.co/palette/131515-2b2c28-339989-7de2d1-fffafb
*/

.main {
  position: absolute;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 100vw;
  overflow: hidden;

  background: linear-gradient(
    180deg,
    rgb(var(--background)) 30%,
    var(--grad-end)
  );

  footer {
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: rgba(var(--text-color), 0.6);
  }
}

.grid {
  display: flex;
  flex-direction: column;
  width: 75vw;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* Mobile */
@media(max-width: 700px) {
  .main {
    position: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
  
    background: linear-gradient(
      180deg,
      rgb(var(--background)) 30%,
      var(--grad-end)
    );
  
    footer {
      font-size: var(--font-size);
      line-height: var(--line-height);
      color: rgba(var(--text-color), 0.6);
    }
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    width: 75vw;
    overflow: scroll;
    scroll-behavior: smooth;
  }
}
@media (max-width: 700px) {
  .main {
    background: linear-gradient(
      180deg,
      rgb(var(--background)) 30%,
      var(--grad-end)
    );
  }
}
//   .content {
//     padding: 4rem;
//   }

//   .grid {
//     grid-template-columns: 1fr;
//     margin-bottom: 120px;
//     max-width: 320px;
//     text-align: center;
//   }

//   .card {
//     padding: 1rem 2.5rem;

//     h2 {
//       margin-bottom: 0.5rem;
//     }
//   }

//   .center {
//     padding: 8rem 0 6rem;
//   }

//   .center::before {
//     transform: none;
//     height: 300px;
//   }

//   .description {
//     font-size: 0.8rem;

//     a {
//       padding: 1rem;
//     }

//     p,
//     div {
//       display: flex;
//       justify-content: center;
//       position: fixed;
//       width: 100%;
//     }

//     p {
//       align-items: center;
//       inset: 0 0 auto;
//       padding: 2rem 1rem 1.4rem;
//       border-radius: 0;
//       border: none;
//       border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
//       background: linear-gradient(
//         to bottom,
//         rgba(var(--background-start-rgb), 1),
//         rgba(var(--callout-rgb), 0.5)
//       );
//       background-clip: padding-box;
//       backdrop-filter: blur(24px);
//     }

//     div {
//       align-items: flex-end;
//       pointer-events: none;
//       inset: auto 0 0;
//       padding: 2rem;
//       height: 200px;
//       background: linear-gradient(
//         to bottom,
//         transparent 0%,
//         rgb(var(--background-end-rgb)) 40%
//       );
//       z-index: 1;
//     }
//   }
// }

/* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .vercelLogo {
//     filter: invert(1);
//   }

//   .logo {
//     filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
//   }
// }

// @keyframes rotate {
//   from {
//     transform: rotate(360deg);
//   }
//   to {
//     transform: rotate(0deg);
//   }
// }

