.nav {
  position: absolute;
  top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: right;


  border-bottom: 2px solid rgb(var(--nav-line));
  margin: 0 10vw 0 10vw;
  padding: 0 2vw 0 2vw;
  min-height: 10vh;
  min-width: 80vw;

  // .navTitle{
  //   position: relative;
  //   padding-top: 4vh;
  //   font-family: sans-serif;
  //   color: rgb(var(--accent));
  // }

  .navLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: rgba(var(--text-color), .4);
  
    li {
      a {
        position: relative;
        top: 60%;
      }
      padding: 0 0 0 2vw;
      font-size: large;
      font-family: sans-serif;
    }
  
    li:hover{
      color: rgb(var(--accent));
    }
  }
}
