.nav {
  position: absolute;
  // top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: right;

  border-bottom: 2px solid rgb(var(--nav-line));
  margin: 0 10vw 0 10vw;
  padding: 0 2vw 0 2vw;
  min-height: 10vh;
  min-width: 80vw;



  .navLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: rgba(var(--text-color), .4);
    align-items: flex-end;
    
  

    li {
      padding: 0 0 1vh 2vw;
      font-size: large;
      font-family: sans-serif;

    }
  
    li:hover{
      color: rgb(var(--accent));

      .light:hover, 
      .dark:hover {
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 700px) {

  .nav {
    justify-content: center;    
  }
  .light,
  .dark {
    display: block;
    height: 20px;
    width: 20px;
  }  
}