

.projectsContainer {  
    display: grid;
    grid-template-columns: repeat(2, [col] auto);
    justify-content: space-around;

    .project {
        // border: 1px solid rgba(var(--card-border-rgb), 0.15);
        border: 1px solid rgba(var(--accent), 1);
        border-radius: var(--border-radius);

        margin: 2%;
        padding: 1vh 1vw 1vh 1vw;
        
        
        h3, h4, li {
            color: rgb(var(--text-color));    
        }

        h3, p, li {
            margin: 5px;
        }

        h4 {
            margin: 5px;
            font-weight: normal;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-position: inside;
            
            li::marker {
                color: rgb(var(--bullet-color));
            }
        }
    }
}
