.projects {
    min-height: 85vh;
    margin-top: 20vh;
}

.projectsContainer {  
    display: grid;
    grid-template-columns: repeat(3, [col] 20vw);
    justify-content: space-around;
    h2 {
        color: rgb(var(--accent));
        margin-top: 10vh;
    }

    .project {  
        border-radius: var(--border-radius);
        border-width: 3px;
        border-style: solid;
        border-bottom: thick inset rgb(var(--accent));
        border-top: none;
        border-right: none;
        border-left: none;
        
        box-shadow: 1px 1px 3px rgb(var(--project-outline));
        margin: 2vh 5vh 5vh 0;
        padding: 1vh 1vw 1vh 1vw;

        min-height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


        h3 {
            color: rgb(var(--accent));
            
        }

        h4 {
            color: rgb(var(--text-color));
        }

        p, h4 {
            color: rgb(var(--text-color));
            margin-bottom: .5em;
            font-weight: normal;
        }

        .projectFront {
            display: block;
        }

        .hideMe {
            display: none;
        }
    }

    .project:hover {
        box-shadow: 1px 1px 8px rgb(var(--project-outline));
        cursor: pointer;
    }  
}

/* Mobile */
@media (max-width: 700px) {
    .projects {
        min-height: auto;
        max-width: auto;
        text-align: center;
        justify-content: center;
    }
    
    .projectsContainer {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            color: rgb(var(--accent));
        }
        .project {  
            justify-content: center;
            border: 2px solid rgba(var(--accent), 1);
            border-radius: var(--border-radius);
            margin: 1em 2em;
            padding: 0.25em;

            h3, h4 {
                color: rgb(var(--text-color));    
            }
    
            p {
                color: rgb(var(--text-color));
                font-size: var(--font-size);
                line-height: var(--line-height);
                margin-top: .25em;  
                margin-bottom: 1em; 
            }
    
            h4 {
                font-weight: normal;
            }
        }
    }

}